@import "tailwindcss";

#root {
  margin: 0 auto;
  padding: 2rem;
  font-family: Times New Roman, Helvetica, Comic-sans;
  font-palette: rgb(98, 98, 98);
  background-color: #0e103d;
}

.OldButton {
  font-size: 15px;
  padding: 7px 20px;
  background: grey;
  border: 2px outset;
  outline: none;
  cursor: pointer;

  &:active {
    border: 2px inset;
  }
}

#grad {
  background-image: linear-gradient(red, yellow, green);
}

.NavBar {
  padding-top: 0.25%;
  padding-bottom: 0.5%;
  color: #ebebeb;
  background-color: #08111b;
}

.ArticleGridContainer {
  display: grid;
  grid-template-columns: 1fr 25fr 1fr 1fr;
  gap: 2px;
  padding: 10px;
}

.ArticleGridContainer > .Title {
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(#08111b, #3a405a, #adbdff, #3a405a, #08111b);
  color: #08111b;
}
.GridItem {
  background-color: #08111b;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  align-content: center;
}

.Link {
  font-weight: bolder;
  font-size: 18px;
}

.Link:hover {
  color: grey;
}

.NavBar > .Link {
  padding-left: 16px;
  font-weight: bolder;
  font-size: 18px;
}

.Filter > {
  padding: 5%;
}
